<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Don Juan Barbería.</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" media="only screen and (min-width: 900px)" href="estilos.css">
    <link rel="icon" href="../images/favicon.jpeg">
</head>
<body>
    <div class="grid-container">
    <nav class="navbar">
        <a href="../index.html"><img class="logo" src="../images/logo.png" alt="logo don juan"></a>
        <ul class="nav__links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/servicios.html">Servicios</a></li>
            <li><a href="../views/diseños.html">Diseños</a></li>
            <li><a href="../views/ubicación.html">Ubicación</a></li>
        </ul>
        <a href="../views/contacto.html"><button class="button">Contacto</button></a> 
    </nav>
    <header class="header"><a href="../index.html">
        <!-- <img src="../images/header3.jpg" alt="imagen hero don juan"> -->
    </a>
    </header>
    <main class="main">
        <div class="contact-section">
            <h1>Contacto</h1>
            <div class="border"></div>
            <form class="contact-form" action="index.html" method="post"></form>
            <input type="text" class="contact-form-text" placeholder="Nombre">
            <input type="email" class="contact-form-text" placeholder="Email">
            <input type="text" class="contact-form-text" placeholder="Telefóno">
            <textarea class="contact-form-text" placeholder="Motivo de contacto"></textarea>
            <input type="submit" class="contact-form-btn" value="Enviar">
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <h3>Don Juan</h3>
            <p>Barbería - salón masculino.</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/barberiadonjuan1/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/barberiadonjuan_" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://api.whatsapp.com/message/JRHIRC2YO2OCG1?autoload=1&app_absent=0" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022. derechos by <span>don juan</span></p>
        </div>
    </footer>
</body>
</html>