<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de diseños - Don Juan Barbería.</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" media="only screen and (min-width: 900px)" href="estilos.css">
    <link rel="icon" href="../images/favicon.jpeg">
</head>
<div class="grid-container">
<body>
    <nav class="navbar">
        <a href="../index.html"><img class="logo" src="../images/logo.png" alt="logo don juan"></a>
        <ul class="nav__links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/servicios.html">Servicios</a></li>
            <li><a href="../views/diseños.html">Diseños</a></li>
            <li><a href="../views/ubicación.html">Ubicación</a></li>
        </ul>
        <a href="../views/contacto.html"><button class="button">Contacto</button></a> 
    </nav>
    <header class="header"><a href="../index.html">
        <!-- <img src="../images/header3.jpg" alt="imagen hero don juan"> -->
    </a>
    </header>
    <aside class="aside">
        <div class="align">
            <div> <img class="photo photo__box" src="../images/corte1.jpg"  alt="corte y color violeta"> </div>
            <div> <img class="photo photo__box" src="../images/corte2.jpg"  alt="corte y color violeta"> </div>
            <div> <img class="photo photo__box" src="../images/corte3.jpg"  alt="corte y color violeta"> </div>
            <div> <img class="photo photo__box" src="../images/corte4.jpg"  alt="corte y color violeta"> </div>
            <div> <img class="photo photo__box" src="../images/corte5.jpg"  alt="corte y color violeta"> </div>
            <div> <img class="photo photo__box" src="../images/corte6.jpg"  alt="corte y color violeta"> </div>
            <div> <img class="photo photo__box" src="../images/corte7.jpg"  alt="degrade y decoloración"> </div>
            <div> <img class="photo photo__box" src="../images/corte8.jpg"  alt="degrade y decoloración"> </div>
            <div> <img class="photo photo__box" src="../images/corte9.jpg"  alt="degrade y decoloración"> </div>
            <div> <img class="photo photo__box" src="../images/corte10.jpg" alt="mezcla de colores"> </div>
            <div> <img class="photo photo__box" src="../images/corte11.jpg" alt="mezcla de colores"> </div>
            <div> <img class="photo photo__box" src="../images/corte12.jpg" alt="mezcla de colores"> </div>
            <div> <img class="photo photo__box" src="../images/corte13.jpg" alt="corte moderno"> </div>
            <div> <img class="photo photo__box" src="../images/corte14.jpg" alt="corte moderno"> </div>
            <div> <img class="photo photo__box" src="../images/corte15.jpg" alt="corte moderno"> </div>
        </div>
    </aside>
    <footer class="footer">
        <div class="footer-content">
            <h3>Don Juan</h3>
            <p>Barbería - salón masculino.</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/barberiadonjuan1/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/barberiadonjuan_" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://api.whatsapp.com/message/JRHIRC2YO2OCG1?autoload=1&app_absent=0" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022. derechos by <span>don juan</span></p>
        </div>
    </footer>
    </div>
</body>
</html>