<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursal Morón - Don Juan Barbería.</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" media="only screen and (min-width: 900px)" href="estilos.css">
    <link rel="icon" href="../images/favicon.jpeg">
</head>
<body>
    <div class="grid-container">
    <nav class="navbar">
        <a href="../index.html"><img class="logo" src="../images/logo.png" alt="logo don juan"></a>
        <ul class="nav__links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/servicios.html">Servicios</a></li>
            <li><a href="../views/diseños.html">Diseños</a></li>
            <li><a href="../views/ubicación.html">Ubicación</a></li>
        </ul>
        <a href="../views/contacto.html"><button class="button">Contacto</button></a> 
    </nav>
    <header class="header"><a href="../index.html">
        <!-- <img src="../images/header3.jpg" alt="imagen hero don juan"> -->
    </a>
    </header>
    <aside class="aside">
        <article class="box__txt">
            <h1 class="padd-ubi txt__color bg__dark h1">Ubicación</h1>
            <p class="padd-ubi txt__color bg__dark">Cartagena 1495, Morón. Tel. 11 3533-2772. Lunes a Sábado de 10 a 20hs.</p>
            <!-- <div class="border"></div> -->
            <a href="https://api.whatsapp.com/message/JRHIRC2YO2OCG1?autoload=1&app_absent=0" target="_blank"><button id="button-ubi">Reservá Turno</button></a> 
            <div class="border"></div>
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.832790228809!2d-58.63146668511009!3d-34.684169369265625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc726ca6c3dbb%3A0x734ec2c5536c1ea6!2sCartagena%201495%2C%20B1708AVO%20Mor%C3%B3n%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1655874102293!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
        </article>
    </aside>
    <footer class="footer">
        <div class="footer-content">
            <h3>Don Juan</h3>
            <p>Barbería - salón masculino.</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/barberiadonjuan1/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/barberiadonjuan_" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://api.whatsapp.com/message/JRHIRC2YO2OCG1?autoload=1&app_absent=0" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022. derechos by <span>don juan</span></p>
        </div>
    </footer>
</div>
</body>
</html>